.card {
    --text-color: #607d8b;
    --accent-color: #E91E63;
    height: 230px;
    width: 140px;
    margin: 5px 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    --hover-color: rgb(230,230,230);
    box-shadow: 0.5px 0.5px 2.5px 2.5px var(--hover-color);
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid var(--accent-color);
}

.dark {
    --hover-color: rgb(30, 30, 30);
}

.card:hover {
    box-shadow: 1px 1px 5px 5px var(--hover-color);
    transform:scale(1.03);
    opacity: 0.7;
}

.book-name {
    width: 100%;
    margin-bottom: 20px;
}

h3 {
    color: black;
    margin-bottom: -8px;
}

small {
    color: black;
    font-size: 10px;
    font-weight: bold;
}

.img img {
    width: 100%;
}

.tags {
    display: flex;
    width: 130px;
    flex-wrap: wrap;
}

.tag {
    width: fit-content;
    display: block;
    padding: 3px;
    margin: 2px 3px;
    color: white;
    border-radius: 10px;
    background-color: var(--accent-color);
    font-size: 11px;
}

.summary {
    color: #607d8b;
    font-size: 10px;
    width: fit-content;
}