<mat-tab-group>
    <mat-tab label="Top Rated">
        <div class="container">
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
        </div>
    </mat-tab>
    <mat-tab label="Our Favorites">
        <div class="container">
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
        </div>
    </mat-tab>
    <mat-tab label="Latest Novels">
        <div class="container">
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
            <app-book></app-book>
        </div>
    </mat-tab>
</mat-tab-group>